body {
    /*background-color: rgba(0,0,0, 0.2);*/
    font-family: "Georgia", sans-serif;
    font-size: 13;
    padding: 0;
    margin: 0;
} 
form {
    margin: 10px;
}

input {
    font-family: "Georgia", sans-serif;
    font-size: 15;
}

#login_img {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    transform: scaleX(-1);
    background-position: center center;
    background-size: cover;
}

.signin-container {
    opacity: 0.75;
    width: 350px;
    /*line-height: 2em;*/
    position: absolute;
    top: 70px;
    right: 50px;
    display: inline-block;


}

.registration-container{
    opacity: 0.75;
    width: 350px;
    top: 355px;
    right: 50px;
    position: absolute;
    display: inline-block;
    z-index: 10;
    border-top-color: rgb(225, 232, 237);
    border-top-style: solid;
    border-top-width: 1px;
    background: #e1e8ed;
    box-shadow: #e1e8ed;
}

.lang-container{
    opacity: 0.75;
    position: absolute;
    top: 30px;
    right: 50px;
    display: inline-block;
}

.site-title{
     top: 50px;
     left: 100px;
     position: absolute;
}

#footer {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    align: center;
    border-top: solid 1px black;
}