body {
  
}

#header {
    height: 100px;
}

.languages {
    list-style: none;
    display: flex;
}

#menubaruser, #menubarreg, #menubaradmin {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

#menubaruser li, #menubarreg li, #menubaradmin li{
    padding-left: 7px;
}

#footer {
    border-top: solid 1px black;
}
