body {

}

#header {
    height: 100px;
}

.languages {
    list-style: none;
    display: flex;
}

#menubar {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

#menubar li {
    padding-left: 7px;
}

#footer {
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid 1px black;
}
