<html>
	<body>
		<span>
			Доброго дня, $name!
			До нас надійшла заявка на реєстрацію нового користувача в системі "Децентралізований майновий реєстр
			природних ресурсів України"
		</span>
			<p>Будь ласка, перейдіть по посиланню<a href="$url/confirm_email/$token">$url/confirm_email/$token</a> для підтвердження.</p>
		<br><p>Якщо Ви не подавали заявки на реєстрацію, проігноруйте це повідомлення</p>
	</body>
</html>